0 10 * * *  export PATH=/usr/local/bin:/usr/bin:/bin; cd /app && python3 -u vacancy_fetch_and_llm_processing.py > /var/log/cron-vacfetch.log 2>&1 &
0 13 * * *  export PATH=/usr/local/bin:/usr/bin:/bin; cd /app && python3 -u send_vacancy_emails.py > /var/log/cron-vacmail.log 2>&1 &
